<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for car in cars %}
    <h1>{{ car.title }}</h1>
    <h2>{{ car.state }}</h2>
    <h2>{{ car.first_register }}</h2>
    <h2>{{ car.transmision }}</h2>
    <h2>{{ car.mileage }}</h2>
    <h2>{{ car.power }}</h2>
    <h2>{{ car.value }}</h2>
    <h2>{{ car.color }}</h2>
    <h2>{{ car.salon }}</h2>
    <h2>{{ car.parktronick }}</h2>
    <h2>{{ car.category }}</h2>
    <h2>{{ car.sity_flowrate }}</h2>
    <h2>{{ car.trace_flowrate }}</h2>
    <h2>{{ car.mixed_flowrate }}</h2>
    <h2>{{ car.detail }}</h2>
{% endfor %}
</body>
</html>