{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'scss/style.css' %}">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    {% include 'nav.html' %}

    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay innerpage" style="background-image: url('{% static 'images/hero_4.JPG' %}')">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h1 class="text-transparent-gradient font-weight-bold">В Наявності</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                {% for car in all_cars %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="item-1">

                            <a href="{% url "car_details" car.id %} "><img src="{{ car.image.url }}" alt="{{ car.title }}" class="img-fluid"></a>
                            <div class="item-1-contents">
                                <div class="text-center">
                                    <h3><a href=" {% url "car_details" car.id %} ">{{ car.title }}</a></h3>
                                    <div class="rent-price"><span>{{ car.price}} {{ car.currency }}</span></div>
                                </div>
                                <ul class="specs">
                                    <li>
                                        <span>Перша реєстрація</span>
                                        <span class="spec">{{ car.first_register }}</span>
                                    </li>
                                    <li>
                                        <span>Пробіг</span>
                                        <span class="spec">{{ car.mileage }} км</span>
                                    </li>
                                    <li>
                                        <span>Тип Палива</span>
                                        <span class="spec">{{ car.patrol }}</span>
                                    </li>
                                    <li>
                                        <span>Коробка передач</span>
                                        <span class="spec">{{ car.transmision }}</span>
                                    </li>
                                    <li>
                                        <span>Категорія</span>
                                        <span class="spec">{{ car.category }}</span>
                                    </li>
                                </ul>
                                <div class="d-flex action">
                                    <a href="{% url "car_details" car.id %}" class="btn btn-primary">Детальніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'steps.html' %}

    {% include 'footer.html' %}

</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>


</body>

</html>

