<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2 class="footer-heading mb-4">Про нас</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. </p>
            </div>
            <div class="col-lg-8 ml-auto">
                <div class="row">
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">Мапа сайту</h2>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'about' %}">Про нас</a></li>
                            <li><a href="{% url 'services' %}">Послуги</a></li>
                            <li><a href="{% url 'cars' %}">В Наявності</a></li>
                            <li><a href="{% url 'offer' %}">Калькулятор</a></li>
                            <li><a href="{% url 'contact' %}">Контакти</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4 ">Ми в інтернеті</h2>
                        <ul class="list-unstyled">
                            <div class="footer_social">
                                <li><a href="#"><i class="ico_footer fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="ico_footer fab fa-facebook-square"></i></a></li>
                            </div>

                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4  " style="text-align: center">Телефон</h2>
                        <ul class="list-unstyled">
                            <li><a class="" href="#">+380 (98) 66 390 61</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2 mt-2 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | Made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a
                            href="https://night-sky-studios.com" target="_blank">Night Sky Studios</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>