{% load  static %}

<link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/combine/npm/lightgallery,npm/lg-autoplay,npm/lg-fullscreen,npm/lg-hash,npm/lg-pager,npm/lg-share,npm/lg-thumbnail,npm/lg-video,npm/lg-zoom"
      rel="stylesheet">

<link rel="stylesheet" href="{% static 'fonts/icomoon/style.min.css' %}" preload>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" preload>
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" preload>
<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.min.css' %}" preload>
<link rel="stylesheet" href="{% static 'css/aos.css' %}" preload>
<!-- jQuery 1.8 or later, 33 KB -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Fotorama from CDNJS, 19 KB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
<link rel="stylesheet" href="{% static 'scss/style.min.css' %}" preload>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167126221-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-167126221-1');
</script>