{% load static %}
<header class="site-navbar site-navbar-target" role="banner">

    <div class="container">
        <div class="row align-items-center position-relative">

            <div class="col-3 ">
                <div class="site-logo">
                    <a href="{% url 'index' %}"><img class="nav_logo"  src="{% static 'images/logo.png' %}" alt=""></a>
                    <a class="mob-text" href="{% url 'index' %}">   German Auto</a>
                </div>
            </div>

            <div class="col-9  text-right">


        <span class="d-inline-block d-lg-none"><a href="#"
                                                  class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span
                class="icon-menu h3 text-white"></span></a></span>


                <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                    {% with request.resolver_match.url_name as url_name %}
                        <ul class="site-menu main-menu js-clone-nav ml-auto ">
                            <li><a href="{% url 'index' %}"
                                   class="nav-link {% if url_name == 'index' %}active{% endif %}">Головна</a></li>
                            <li><a href="{% url 'about' %}" class="nav-link  {% if url_name == 'about' %}active{% endif %} ">Про
                                Нас</a></li>
                            <li><a href="{% url 'services' %}" class="nav-link  {% if url_name == 'services' %}active{% endif %} ">Послуги</a>
                            </li>
                            <li><a href="{% url 'cars' %}" class="nav-link {% if url_name == 'cars' %}active{% endif %}">В
                                Наявності</a></li>
                            <li><a href="{% url 'offer' %}" class="nav-link {% if url_name == 'offer' %}active{% endif %} ">Калькулятор</a>
                            </li>
                            <li><a href="{% url 'contact' %}" class="nav-link {% if url_name == 'contact' %}active{% endif %} ">Контакти</a>
                            </li>
                        </ul>
                    {% endwith %}
                </nav>
            </div>


        </div>
    </div>

</header>