{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'head_links.html' %}

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    {% include 'nav.html' %}

    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay innerpage" style="background-image: url('{% static 'images/Audi_RS5-R_Motion_White_Coupe_575668_1280x853.jpg' %}')">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h1 class="text-transparent-gradient font-weight-bold">Наші Послуги та Переваги</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="flaticon-car"></span>
              </span>
                        <div class="service-1-contents">
                            <h3>Розмитнення</h3>
                            <p>Наша команда розмитнить Ваш автомобіль і оформить всі документи.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="flaticon-traffic"></span>
              </span>
                        <div class="service-1-contents">
                            <h3>Підтримка 24/7</h3>
                            <p>Оформляйте замовлення в розділі "Контакти", Ми з вами зв'яжемоя протягом 24 годин.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="flaticon-key"></span>
              </span>
                        <div class="service-1-contents">
                            <h3>Пригон</h3>
                            <p>Оформлення, огляд та доставка авто з Європи. Купуючи авто у нас, Ви отримуєте: якість,
                                надійність, захищеність.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="flaticon-car-1"></span>
              </span>
                        <div class="service-1-contents">
                            <h3>Розрахунок</h3>
                            <p>Розрахунок за авто, біля капоту, в будь-якій точці України.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="flaticon-valet-1"></span>
              </span>
                        <div class="service-1-contents">
                            <h3>Доставка</h3>
                            <p>Реалізувати підбір, транспортування і оформлення документів, можливо від 4 днів.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="flaticon-valet"></span>
              </span>
                        <div class="service-1-contents">
                            <h3>Хімчистка</h3>
                            <p>Партнерська підтримка по обслуговуванню Вашого автомобіля в Україні, позачергово і з
                                приємними знижками.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="site-section section-3"
     style="background-image: url('{% static 'images/johannes-plenio-2TQwrtZnl08-unsplash.jpg' %}');">
    <div class="container">
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="400" class="col-lg-4">
                <div class="service-1">
              <span class="service-1-icon">
                <span class="flaticon-valet-1"></span>
              </span>
                    <div class="service-1-contents">
                        <h3 style="color: white;">Загалом авто більше</h3>
                        <h1 class="index-count" style="color: white;">1000</h1>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" class="col-lg-4">
                <div class="service-1">
              <span class="service-1-icon">
                <span class="flaticon-traffic"></span>
              </span>
                    <div class="service-1-contents">
                        <h3 style="color: white;">Загалом країн більше</h3>
                        <h1 class="index-count" style="color: white;">20</h1>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" class="col-lg-4">
                <div class="service-1">
              <span class="service-1-icon">
                <span class="flaticon-valet"></span>
              </span>
                    <div class="service-1-contents">
                        <h3 style="color: white;">Загалом задоволених клієнтів більше</h3>
                        <h1 class="index-count" style="color: white;">600</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% include 'steps.html' %}

    {% include 'footer.html' %}

</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

<script>
    $('.index-count').each(function () {
        $(this).prop('Counter', 0).animate({
            Counter: $(this).text()
        }, {
            duration: 3200,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1 "));
            }
        });
    });
</script>
</body>

</html>

