<div class="container site-section mb-5">
    <div class="row justify-content-center text-center">
        <div class="col-7 text-center mb-5">
            <h2>Як це все відбувається?</h2>
            <p>В нас часто запитують: "Поясніть будь ласка як проходить процес отримання автомобіля від початку до
                кінця".
                <br> <hr> <span style="font-weight: bold">Демонструємо короткий шлях:</span></p>
        </div>
    </div>
    <div data-aos="fade-right" data-aos-delay="200" class="how-it-works d-flex">
        <div class="step">
            <span class="number"><span>1</span></span>
            <span class="caption">Замовлення</span>
        </div>
        <div class="step">
            <span class="number"><span>2</span></span>
            <span class="caption">Пошук</span>
        </div>
        <div class="step">
            <span class="number"><span>3</span></span>
            <span class="caption">Виїзд</span>
        </div>
        <div class="step">
            <span class="number"><span>4</span></span>
            <span class="caption">Купівля</span>
        </div>
        <div class="step">
            <span class="number"><span>5</span></span>
            <span class="caption">Отримання</span>
        </div>

    </div>
</div>